/* *{
    margin: 0;
    padding: 0;
}
#left-panel{
    width: 15%;
    height: 50rem;
    background-color: black;
    float: left;
    color: white;
}
#avatar-panel{
    padding-top: 3rem;
    text-align: center;
}
#avatar-panel img{
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
}
#avatar-panel p{
    color: white;
    font-size: 2em;
}
#other-site{
    padding-top: 3rem;
    text-align: center;
}
#other-site li{
    margin: 0 0.5rem;
    display:inline;
}
#nav-panel{
    padding-top: 3rem;
    text-align: center;
}
#nav-panel li{
    margin: 1rem 0;
}
#right-panel{
    width: 85%;
    height: 50rem;
    float: right;
    overflow: hidden;
}
#label-panel{
    padding: 1.5rem;
}
#label-panel li{
    display: inline;
    margin: 1rem;
} */
#header-panel{
    height: 3rem;
    background-color:rgb(250,250,250);
    border: 1px rgb(240,240,240) solid;
    color: rgb(200,200,200);
    font-size: 0.8em;
    overflow: hidden;
}
#header-panel span{
    display: block;
}
#header-panel #header-title{
    line-height: 3rem;
    float: left;
    margin-left: 3rem
}
#header-panel #header-date{
    line-height: 3rem;
    float: right;
    margin-right: 3rem;
}
#article-panel{
    overflow: hidden;
    overflow: auto;
    
}
#article-panel #article-list li{
    color: rgb(100,100,100);
    padding:2rem 3rem ;
    border: 1px rgb(240,240,240) solid; 
    overflow: hidden;
}
.article-date{
    float: right;
    font-size: 0.8em
}
#footer-panel{
    height: 4rem;
    background-color:rgb(250,250,250);
    border: 1px rgb(240,240,240) solid;
    border-top: 0px;
    color: rgb(200,200,200);
    font-size: 0.8em;
    overflow: hidden;
    /*  */
}

